body {
    font-family: 'Rock Salt';
    margin:0;
    overflow-x: hidden;
    background-color: #f8f8f8;
    letter-spacing: 2px;
    
}

.innhold {
    margin:1rem;
    display: grid;
    text-align: center;
}